---
import { Image } from 'astro:assets'

interface Props {
  image: ImageMetadata
  alt: string
  href: string
}

const { image, alt, href } = Astro.props
---
<div class="card w-[24rem] max-w-[70vw] border border-neutral">
  <figure class="relative overflow-hidden">
    <Image
      src={image}
      alt={alt}
      class="w-full h-full object-cover"
    />
    <div
      class="absolute inset-0 pointer-events-none opacity-10"
      style={{
        backgroundImage: `
          repeating-linear-gradient(
            45deg,
            var(--fallback-b1, oklch(var(--b1))),
            var(--fallback-b1, oklch(var(--b1))) 15px,
            var(--fallback-bc, oklch(var(--bc))) 15px,
            var(--fallback-bc, oklch(var(--bc))) 16px
          )
        `,
      }}
    ></div>
  </figure>
  <div class="card-body gap-4">
    <!-- <h2 class="card-title">{title}</h2>
    <p>{content}</p> -->
    <div class="flex flex-col gap-2">
      <slot />
    </div>
    <div class="card-actions justify-end">
      <a href={href} class="btn btn-primary">
        <span class="icon-[tabler--search] size-5"></span>
        μμ„Έν
      </a>
    </div>
  </div>
</div>